.body {
    background-color: #2E073F;


.contenido {
    h2 {
        font-family: "Bungee Tint", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

.titulo-SubTemas{
    label{
        font-family: "Bungee Tint", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

.contenido-tarjetas{
    .tituloFlashCard{
        font-family: "Bungee Tint", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
    }
}

.contenido-SubTemas{ PENDIENTE DE AGREGAR
     .contenidoFlashCard{
         font-family: "Bungee Tint", sans-serif;
         font-weight: 400;
         font-style: normal;
         color: white;
     }
 }


}