.body {
    background-color: #2E073F;
}
h1{
    font-size: 100px;
}

.card-body {
    text-align: center;
    a {
        text-decoration: none;
    }
    p {
        text-align: start;
    }
}

.titulo-Temas {
    display: flex;

}

.btn-temas{
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
}